{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/all_posts.css' %}" rel="stylesheet">
{% endblock %}  

{% block content %}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Government Schemes</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                    <a href="" class="btn btn-secondary py-md-3 px-md-5">Government Schemes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <div class="row g-5 mb-5">
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
                        </div>
                    </div>
                    <h1 class="mb-4">National Agricultural Market  (E-NAM)</h1>
                    <p>
                        Launched in : <i>APRIL 2016</i> <br><br>
                       National Agriculture Market (eNAM) is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified national market for agricultural commodities.
                       <br>
                       <br>
                       Small Farmers Agribusiness Consortium (SFAC) is the lead agency for implementing eNAM under the aegis of Ministry of Agriculture and Farmers’ Welfare, Government of India.
                       <br>
                       <br>
                       Goal is to promote uniformity in agriculture marketing by streamlining of procedures across the integrated markets, removing information asymmetry between buyers and sellers and promoting real time price discovery based on actual demand and supply.
                     </p>
                     <a href="https://www.enam.gov.in/web/ " target="_blank"> OFFICIAL WEBSITE</a><br><br>
                     <div class="video">

                        <iframe width=" " height=" " src="https://www.youtube.com/embed/6okFG0gGAXE" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       </div></div>
                </div>
                <div class="mb-5">
                    <div class="row g-5 mb-5">
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
                        </div>
                    </div>
                    <h1 class="mb-4">National Mission For Sustainable Agriculture (NMSA)</h1>
                    <p>
                        Launched in: <i>2015</i><br><br>
                        National Mission for Sustainable Agriculture (NMSA) has been formulated for enhancing agricultural productivity especially in rainfed areas focusing on integrated farming, water use efficiency, soil health management and synergizing resource conservation.
                      <br>
                      <br>
                      The strategies and programmers of actions (POA) outlined in the Mission Document, that was accorded ‘in principle’ approval by Prime Minister’s Council on Climate Change (PMCCC) on 23.09.2010,aim at promoting sustainable agriculture through a series of adaptation measures focusing on ten key dimensions encompassing Indian agriculture namely; ‘Improved crop seeds, livestock and fish cultures’, ‘Water Use Efficiency’, ‘Pest Management’, ‘Improved Farm Practices’, ‘Nutrient Management’, ‘Agricultural insurance’, ‘Credit support’, ‘Markets’, ‘Access to Information’ and ‘Livelihood diversification’.
                  </p>
                      <a href="https://nmsa.dac.gov.in/ " target="_blank"> OFFICIAL WEBSITE</a><br><br>
                 <div class="video">
                     <iframe width=" " height=" " src="https://www.youtube.com/embed/DS_SMVvqzsg" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div></div>
                </div>
                <div class="mb-5">
                    <div class="row g-5 mb-5">
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
                        </div>
                    </div>
                    <h1 class="mb-4">Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</h1>
                    <p>
                        Launched in : <i>January 2006</i><br><br>
                        The Government of India has been implementing Centrally Sponsored Scheme on Micro Irrigation with the objective to enhance water use efficiency in the agriculture sector by promoting appropriate technological interventions like drip & sprinkler irrigation technologies and encourage the farmers to use water saving and conservation technologies.
                        <br>
                        <br>
                        To this effect Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation ‘Har Khet ko pani’ and improving water use efficiency ‘More crop per drop' in a focused manner with end to end solution on source creation, distribution, management, field application and extension activities.
                        <br><br>
                 
                      </p>
                      <a href=" https://pmksy.gov.in/" target="_blank"> OFFICIAL WEBSITE</a><br><br>
                 <div class="video">
                      <iframe width=" " height=" " src="https://www.youtube.com/embed/FeS_btDFkRA" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div></div>
                </div>
                <!-- Blog Detail End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock content %}